<div class="jumbotron">
    <h2><b>Atividade Aula 07 - AAW - Arquitetura Aplicações Web</b></h2>
    
    <br />

    <h3>Integrantes</h3>

    <p>Frederico Eduardo dos Santos – 103156</p>
    <p>Pablo Christian Pereira Nazareth – 102667</p>
    <p>Pedro Borges Peres Junior – 105881</p>
    <p>Sandro Antônio Oliveira Callegari – 1902509</p>

</div>
<div class="row">
    <div class="col-md-4">
        <h1>Métodos</h1>

        <h3>Tarefas</h3>
        <p> 1 - Listar tarefas<p><a class="btn btn-default blue" href="/api/tarefas/">[GET] /api/tarefas/</a></p>
        <p> 2 - Listar tarefa por id (exemplo id 3)<p><a class="btn btn-default blue" href="/api/tarefas/3">[GET] /api/tarefas/3</a></p>
        
        <p> 3 - Cadastrar tarefas<p><a class="btn btn-default green" href="/api/tarefas/tarefa/">[POST] /api/tarefas/tarefa/</a></p>
        <p> 4 - Remover tarefa por id (exemplo id 3)<p><a class="btn btn-default green" href="/api/tarefas/3">[DELETE] /api/tarefas/3/</a></p>

    </div>
</div>
